# Obtenção Dados Serie B 2020

--------------------------------------------

+ Lemos os dados e coletamos os dados que achamos importantes encontrados nas tabelas disponibilizadas pelo site

In [2]:
import pandas as pd
import numpy as np

In [2]:
#url = 'https://fbref.com/pt/comps/38/10073/2020-Serie-B-estatisticas#all_stats_squads_playing_time'

In [3]:
#url = 'https://fbref.com/pt/comps/38/3321/2019-Serie-B-estatisticas'
#url = 'https://fbref.com/pt/comps/38/1764/2018-Serie-B-estatisticas'
#url = 'https://fbref.com/pt/comps/38/1563/2017-Serie-B-estatisticas'
url = 'https://fbref.com/pt/comps/38/1496/2016-Serie-B-estatisticas'

In [4]:
list_df_tables = pd.read_html(url)
len(list_df_tables)

12

In [5]:
df1 = list_df_tables[2]
df1

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
               Equipe                # J              Idade
0      Atl Goianiense                 32                260
1                Avaí                 37                252
2               Bahia                 34                263
3          Bragantino                 58                264
4         Brasil (RS)                 26                301
5               Ceará                 39                266
6                 CRB                 35                284
7            Criciúma                 35                248
8               Goiás                 41                262
9           Joinville                 48                263
10           Londrina                 39                256
11         Luverdense                 37                259
12            Náutico                 44                255
13              Oeste                 40                252
14             Paraná                 41                270
15           Paysandu                 38                283
16     Sampaio Corrêa                 58                279
17            Tupi FC                 36                269
18      Vasco da Gama                 34                288
19          Vila Nova                 43                280

   Unnamed: 3_level_0 Tempo de jogo                     Desempenho         \
                Posse            MP Inícios  Min.   90s       Gols Assis.
0                 NaN            38     418  3.42  38.0         59     48
1                 NaN            38     418  3.42  38.0         43     24
2                 NaN            38     418  3.42  38.0         53     40
3                 NaN            38     418  3.42  38.0         30     23
4                 NaN            38     418  3.42  38.0         40     28
5                 NaN            38     418  3.42  38.0         46     32
6                 NaN            38     418  3.42  38.0         56     40
7                 NaN            38     418  3.42  38.0         49     35
8                 NaN            38     418  3.42  38.0         49     41
9                 NaN            38     418  3.42  38.0         31     22
10                NaN            38     418  3.42  38.0         40     32
11                NaN            38     419  3.42  38.0         41     29
12                NaN            38     418  3.42  38.0         53     34
13                NaN            38     418  3.42  38.0         32     26
14                NaN            38     418  3.42  38.0         37     22
15                NaN            38     418  3.42  38.0         40     28
16                NaN            38     418  3.42  38.0         29     18
17                NaN            38     418  3.42  38.0         40     28
18                NaN            38     418  3.42  38.0         53     34
19                NaN            38     418  3.42  38.0         54     36

                         A cada 90 minutos
   G-PB PB PT CrtsA CrtV              Gols Assis.  G+A G-PB G+A-PB
0    55  4  4    89    5               155    126  282  145    271
1    40  3  4    99    7               113     63  176  105    168
2    50  3  4    98    3               139    105  245  132    237
3    28  2  3    91    6                79     61  139   74    134
4    36  4  5    84    7               105     74  179   95    168
5    41  5  7    95    4               121     84  205  108    192
6    52  4  5    91   12               147    105  253  137    242
7    43  6  9   104    3               129     92  221  113    205
8    43  6  8    92    6               129    108  237  113    221
9    31  0  1    87    8                82     58  139   82    139
10   34  6  7   117    3               105     84  189   89    174
11   38  3  3    77    7               108     76  184  100    176
12   47  6  6    89    3               139     89  229  124    213
13   31  1  5    58    4                84     68  153   82    150
14   34  3  5    94   11                97     58  155   89    147
15   38  2  3   101    6               105     74  179  100    174
16   23  6  8    83    6                76     47  124   61    108
17   40  0  1    85    5               105     74  179  105    179
18   49  4  5   110    3               139     89  229  129    218
19   48  6  7    98   12               142     95  237  126    221

In [6]:
tabela = pd.DataFrame()
mdf1={'nomes':['Equipe','NJogadores','MediaIdade','Posse','GolsPro','Assistencias',
              'PenalConvertidos', 'PenalBatidos', 'CAmarelo','CVermelho'],
      'posicao':[0,1,2,3,8,9,11,12,13,14]}
tabela[mdf1['nomes']] = df1.iloc[:,mdf1['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5
1,Avaí,37,252,NaN,43,24,3,4,99,7
2,Bahia,34,263,NaN,53,40,3,4,98,3
3,Bragantino,58,264,NaN,30,23,2,3,91,6
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7
5,Ceará,39,266,NaN,46,32,5,7,95,4
6,CRB,35,284,NaN,56,40,4,5,91,12
7,Criciúma,35,248,NaN,49,35,6,9,104,3
8,Goiás,41,262,NaN,49,41,6,8,92,6
9,Joinville,48,263,NaN,31,22,0,1,87,8
10,Londrina,39,256,NaN,40,32,6,7,117,3
11,Luverdense,37,259,NaN,41,29,3,3,77,7
12,Náutico,44,255,NaN,53,34,6,6,89,3
13,Oeste,40,252,NaN,32,26,1,5,58,4
14,Paraná,41,270,NaN,37,22,3,5,94,11
15,Paysandu,38,283,NaN,40,28,2,3,101,6
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6
17,Tupi FC,36,269,NaN,40,28,0,1,85,5
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3
19,Vila Nova,43,280,NaN,54,36,6,7,98,12

In [7]:
df2 = list_df_tables[3]

In [8]:
mdf2={'nomes':['GolsSofridos','AssistenciasADV',
              'PenalConvertidoADV', 'PenaltisADV', 'CAmareloADV','CVermelhoADV'],
      'posicao':[8,9,11,12,13,14]}
tabela[mdf2['nomes']] = df2.iloc[:,mdf2['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,GolsSofridos,AssistenciasADV,PenalConvertidoADV,PenaltisADV,CAmareloADV,CVermelhoADV
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,35,23,3,4,81,1
1,Avaí,37,252,NaN,43,24,3,4,99,7,34,25,4,5,102,7
2,Bahia,34,263,NaN,53,40,3,4,98,3,34,22,1,5,95,9
3,Bragantino,58,264,NaN,30,23,2,3,91,6,52,42,6,8,91,6
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,36,27,1,2,97,4
5,Ceará,39,266,NaN,46,32,5,7,95,4,45,29,7,8,105,7
6,CRB,35,284,NaN,56,40,4,5,91,12,53,31,5,7,115,6
7,Criciúma,35,248,NaN,49,35,6,9,104,3,45,34,3,6,125,12
8,Goiás,41,262,NaN,49,41,6,8,92,6,46,34,3,6,101,7
9,Joinville,48,263,NaN,31,22,0,1,87,8,42,30,4,4,84,7
10,Londrina,39,256,NaN,40,32,6,7,117,3,28,17,3,3,102,8
11,Luverdense,37,259,NaN,41,29,3,3,77,7,38,26,3,3,74,1
12,Náutico,44,255,NaN,53,34,6,6,89,3,43,32,4,5,97,11
13,Oeste,40,252,NaN,32,26,1,5,58,4,43,29,3,4,86,4
14,Paraná,41,270,NaN,37,22,3,5,94,11,55,39,3,3,102,6
15,Paysandu,38,283,NaN,40,28,2,3,101,6,44,30,6,7,92,2
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,57,37,7,7,82,4
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,55,48,2,2,61,3
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,39,29,2,4,106,6
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,51,36,4,7,114,10

In [9]:
df3 = list_df_tables[4]
df3

   Unnamed: 0_level_0 Unnamed: 1_level_0 Tempo de jogo                       \
               Equipe                # J            MP Inícios   Min.   90s
0      Atl Goianiense                  4            38      38  3.420  38.0
1                Avaí                  1            38      38  3.420  38.0
2               Bahia                  3            38      38  3.420  38.0
3          Bragantino                  3            38      38  3.420  38.0
4         Brasil (RS)                  2            38      38  3.420  38.0
5               Ceará                  2            38      38  3.420  38.0
6                 CRB                  3            38      38  3.420  38.0
7            Criciúma                  2            38      38  3.420  38.0
8               Goiás                  3            38      38  3.420  38.0
9           Joinville                  5            38      38  3.418  38.0
10           Londrina                  2            38      38  3.420  38.0
11         Luverdense                  2            38      38  3.420  38.0
12            Náutico                  2            38      38  3.420  38.0
13              Oeste                  4            38      38  3.419  38.0
14             Paraná                  3            38      38  3.420  38.0
15           Paysandu                  2            38      38  3.416  38.0
16     Sampaio Corrêa                  4            38      38  3.420  38.0
17            Tupi FC                  2            38      38  3.418  38.0
18      Vasco da Gama                  2            38      38  3.420  38.0
19          Vila Nova                  4            38      38  3.420  38.0

   Desempenho                    ...                      Penaltis          \
           GC GC90 CaGC Defesas  ...   V   E   D  SV  %SV       PT GPC Psv
0           0    0    0       0  ...  22  10   6  15  395        4   3   1
1           0    0    0       0  ...  19   9  10  15  395        5   4   1
2           0    0    0       0  ...  18   9  11  18  474        5   1   2
3           0    0    0       0  ...   8   8  22   8  211        8   6   1
4           0    0    0       0  ...  14  12  12  10  263        3   1   1
5           0    0    0       0  ...  14  12  12  10  263        8   7   1
6           0    0    0       0  ...  17   7  14   5  132        7   5   1
7           0    0    0       0  ...  16   8  14  10  263        8   3   3
8           0    0    0       0  ...  13  11  14   9  237        6   3   3
9           0    0    0       0  ...   9  13  16   9  237        4   4   0
10          0    0    0       0  ...  16  12  10  14  368        3   3   0
11          0    0    0       0  ...  13  16   9  10  263        3   3   0
12          0    0    0       0  ...  18   6  14  14  368        6   4   1
13          0    0    0       0  ...   8  17  13  11  289        5   3   1
14          0    0    0       0  ...  10  11  17   9  237        3   3   0
15          0    0    0       0  ...  11  16  11  15  395        7   6   1
16          0    0    0       0  ...   5  12  21   8  211        7   7   0
17          0    0    0       0  ...   8   9  21   7  184        2   2   0
18          0    0    0       0  ...  19   8  11  13  342        5   2   2
19          0    0    0       0  ...  15   8  15   9  237        7   4   2


   GPp %Defesas
0    0      250
1    0      200
2    2      667
3    1      143
4    1      500
5    0      125
6    1      167
7    2      500
8    0      500
9    0        0
10   0        0
11   0        0
12   1      200
13   1      250
14   0        0
15   0      143
16   0        0
17   0        0
18   1      500
19   1      333

[20 rows x 21 columns]

In [10]:
mdf3={'nomes':['ChuteADV','Defesas','JogosSemLevarGol', 'PenaltisSalvos', 'PenaltisADVFora'],
      'posicao':[8,9,14,18,19]}
tabela[mdf3['nomes']] = df3.iloc[:,mdf3['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,...,AssistenciasADV,PenalConvertidoADV,PenaltisADV,CAmareloADV,CVermelhoADV,ChuteADV,Defesas,JogosSemLevarGol,PenaltisSalvos,PenaltisADVFora
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,...,23,3,4,81,1,0,0,15,1,0
1,Avaí,37,252,NaN,43,24,3,4,99,7,...,25,4,5,102,7,0,0,15,1,0
2,Bahia,34,263,NaN,53,40,3,4,98,3,...,22,1,5,95,9,0,0,18,2,2
3,Bragantino,58,264,NaN,30,23,2,3,91,6,...,42,6,8,91,6,0,0,8,1,1
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,...,27,1,2,97,4,0,0,10,1,1
5,Ceará,39,266,NaN,46,32,5,7,95,4,...,29,7,8,105,7,0,0,10,1,0
6,CRB,35,284,NaN,56,40,4,5,91,12,...,31,5,7,115,6,0,0,5,1,1
7,Criciúma,35,248,NaN,49,35,6,9,104,3,...,34,3,6,125,12,0,0,10,3,2
8,Goiás,41,262,NaN,49,41,6,8,92,6,...,34,3,6,101,7,0,0,9,3,0
9,Joinville,48,263,NaN,31,22,0,1,87,8,...,30,4,4,84,7,0,0,9,0,0
10,Londrina,39,256,NaN,40,32,6,7,117,3,...,17,3,3,102,8,0,0,14,0,0
11,Luverdense,37,259,NaN,41,29,3,3,77,7,...,26,3,3,74,1,0,0,10,0,0
12,Náutico,44,255,NaN,53,34,6,6,89,3,...,32,4,5,97,11,0,0,14,1,1
13,Oeste,40,252,NaN,32,26,1,5,58,4,...,29,3,4,86,4,0,0,11,1,1
14,Paraná,41,270,NaN,37,22,3,5,94,11,...,39,3,3,102,6,0,0,9,0,0
15,Paysandu,38,283,NaN,40,28,2,3,101,6,...,30,6,7,92,2,0,0,15,1,0
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,...,37,7,7,82,4,0,0,8,0,0
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,...,48,2,2,61,3,0,0,7,0,0
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,...,29,2,4,106,6,0,0,13,2,1
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,...,36,4,7,114,10,0,0,9,2,1

In [11]:
df4 = list_df_tables[6]

In [12]:
mdf4={'nomes':['Finalizacoes','FinalizacoesNoGol'],
      'posicao':[4,5]}
tabela[mdf4['nomes']] = df4.iloc[:,mdf4['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,...,PenaltisADV,CAmareloADV,CVermelhoADV,ChuteADV,Defesas,JogosSemLevarGol,PenaltisSalvos,PenaltisADVFora,Finalizacoes,FinalizacoesNoGol
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,...,4,81,1,0,0,15,1,0,0,0
1,Avaí,37,252,NaN,43,24,3,4,99,7,...,5,102,7,0,0,15,1,0,0,0
2,Bahia,34,263,NaN,53,40,3,4,98,3,...,5,95,9,0,0,18,2,2,0,0
3,Bragantino,58,264,NaN,30,23,2,3,91,6,...,8,91,6,0,0,8,1,1,0,0
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,...,2,97,4,0,0,10,1,1,0,0
5,Ceará,39,266,NaN,46,32,5,7,95,4,...,8,105,7,0,0,10,1,0,0,0
6,CRB,35,284,NaN,56,40,4,5,91,12,...,7,115,6,0,0,5,1,1,0,0
7,Criciúma,35,248,NaN,49,35,6,9,104,3,...,6,125,12,0,0,10,3,2,0,0
8,Goiás,41,262,NaN,49,41,6,8,92,6,...,6,101,7,0,0,9,3,0,0,0
9,Joinville,48,263,NaN,31,22,0,1,87,8,...,4,84,7,0,0,9,0,0,0,0
10,Londrina,39,256,NaN,40,32,6,7,117,3,...,3,102,8,0,0,14,0,0,0,0
11,Luverdense,37,259,NaN,41,29,3,3,77,7,...,3,74,1,0,0,10,0,0,0,0
12,Náutico,44,255,NaN,53,34,6,6,89,3,...,5,97,11,0,0,14,1,1,0,0
13,Oeste,40,252,NaN,32,26,1,5,58,4,...,4,86,4,0,0,11,1,1,0,0
14,Paraná,41,270,NaN,37,22,3,5,94,11,...,3,102,6,0,0,9,0,0,0,0
15,Paysandu,38,283,NaN,40,28,2,3,101,6,...,7,92,2,0,0,15,1,0,0,0
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,...,7,82,4,0,0,8,0,0,0,0
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,...,2,61,3,0,0,7,0,0,0,0
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,...,4,106,6,0,0,13,2,1,0,0
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,...,7,114,10,0,0,9,2,1,0,0

In [13]:
df5 = list_df_tables[7]
mdf5={'nomes':['FinalizacoesADV','FinalizacoesNoGolADV'],
      'posicao':[4,5]}
tabela[mdf5['nomes']] = df5.iloc[:,mdf5['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,...,CVermelhoADV,ChuteADV,Defesas,JogosSemLevarGol,PenaltisSalvos,PenaltisADVFora,Finalizacoes,FinalizacoesNoGol,FinalizacoesADV,FinalizacoesNoGolADV
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,...,1,0,0,15,1,0,0,0,0,0
1,Avaí,37,252,NaN,43,24,3,4,99,7,...,7,0,0,15,1,0,0,0,0,0
2,Bahia,34,263,NaN,53,40,3,4,98,3,...,9,0,0,18,2,2,0,0,0,0
3,Bragantino,58,264,NaN,30,23,2,3,91,6,...,6,0,0,8,1,1,0,0,0,0
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,...,4,0,0,10,1,1,0,0,0,0
5,Ceará,39,266,NaN,46,32,5,7,95,4,...,7,0,0,10,1,0,0,0,0,0
6,CRB,35,284,NaN,56,40,4,5,91,12,...,6,0,0,5,1,1,0,0,0,0
7,Criciúma,35,248,NaN,49,35,6,9,104,3,...,12,0,0,10,3,2,0,0,0,0
8,Goiás,41,262,NaN,49,41,6,8,92,6,...,7,0,0,9,3,0,0,0,0,0
9,Joinville,48,263,NaN,31,22,0,1,87,8,...,7,0,0,9,0,0,0,0,0,0
10,Londrina,39,256,NaN,40,32,6,7,117,3,...,8,0,0,14,0,0,0,0,0,0
11,Luverdense,37,259,NaN,41,29,3,3,77,7,...,1,0,0,10,0,0,0,0,0,0
12,Náutico,44,255,NaN,53,34,6,6,89,3,...,11,0,0,14,1,1,0,0,0,0
13,Oeste,40,252,NaN,32,26,1,5,58,4,...,4,0,0,11,1,1,0,0,0,0
14,Paraná,41,270,NaN,37,22,3,5,94,11,...,6,0,0,9,0,0,0,0,0,0
15,Paysandu,38,283,NaN,40,28,2,3,101,6,...,2,0,0,15,1,0,0,0,0,0
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,...,4,0,0,8,0,0,0,0,0,0
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,...,3,0,0,7,0,0,0,0,0,0
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,...,6,0,0,13,2,1,0,0,0,0
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,...,10,0,0,9,2,1,0,0,0,0

In [14]:
df6 = list_df_tables[10]

In [15]:
mdf6={'nomes':['2Amarelo','Faltas','Impedimentos','Cruzamentos','Cortes','RoubosDeBola'],
      'posicao':[5,6,8,9,10,11]}
tabela[mdf6['nomes']] = df6.iloc[:,mdf6['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,...,Finalizacoes,FinalizacoesNoGol,FinalizacoesADV,FinalizacoesNoGolADV,2Amarelo,Faltas,Impedimentos,Cruzamentos,Cortes,RoubosDeBola
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,...,0,0,0,0,4,NaN,0,0,0,0
1,Avaí,37,252,NaN,43,24,3,4,99,7,...,0,0,0,0,5,NaN,0,0,0,0
2,Bahia,34,263,NaN,53,40,3,4,98,3,...,0,0,0,0,2,NaN,0,0,0,0
3,Bragantino,58,264,NaN,30,23,2,3,91,6,...,0,0,0,0,4,NaN,0,0,0,0
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,...,0,0,0,0,6,NaN,0,0,0,0
5,Ceará,39,266,NaN,46,32,5,7,95,4,...,0,0,0,0,4,NaN,0,0,0,0
6,CRB,35,284,NaN,56,40,4,5,91,12,...,0,0,0,0,6,NaN,0,0,0,0
7,Criciúma,35,248,NaN,49,35,6,9,104,3,...,0,0,0,0,1,NaN,0,0,0,0
8,Goiás,41,262,NaN,49,41,6,8,92,6,...,0,0,0,0,2,NaN,0,0,0,0
9,Joinville,48,263,NaN,31,22,0,1,87,8,...,0,0,0,0,4,NaN,0,0,0,0
10,Londrina,39,256,NaN,40,32,6,7,117,3,...,0,0,0,0,1,NaN,0,0,0,0
11,Luverdense,37,259,NaN,41,29,3,3,77,7,...,0,0,0,0,3,NaN,0,0,0,0
12,Náutico,44,255,NaN,53,34,6,6,89,3,...,0,0,0,0,1,NaN,0,0,0,0
13,Oeste,40,252,NaN,32,26,1,5,58,4,...,0,0,0,0,2,NaN,0,0,0,0
14,Paraná,41,270,NaN,37,22,3,5,94,11,...,0,0,0,0,7,NaN,0,0,0,0
15,Paysandu,38,283,NaN,40,28,2,3,101,6,...,0,0,0,0,2,NaN,0,0,0,0
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,...,0,0,0,0,4,NaN,0,0,0,0
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,...,0,0,0,0,2,NaN,0,0,0,0
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,...,0,0,0,0,2,NaN,0,0,0,0
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,...,0,0,0,0,8,NaN,0,0,0,0

In [16]:
df7 = list_df_tables[11]
mdf7={'nomes':['2AmareloADV','FaltasADV','ImpedimentosADV','CruzamentosADV','CortesADV','RoubosDeBolaADV'],
      'posicao':[5,6,8,9,10,11]}
tabela[mdf7['nomes']] = df7.iloc[:,mdf7['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,...,Impedimentos,Cruzamentos,Cortes,RoubosDeBola,2AmareloADV,FaltasADV,ImpedimentosADV,CruzamentosADV,CortesADV,RoubosDeBolaADV
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,...,0,0,0,0,0,0,0,0,0,0
1,Avaí,37,252,NaN,43,24,3,4,99,7,...,0,0,0,0,3,0,0,0,0,0
2,Bahia,34,263,NaN,53,40,3,4,98,3,...,0,0,0,0,3,0,0,0,0,0
3,Bragantino,58,264,NaN,30,23,2,3,91,6,...,0,0,0,0,3,0,0,0,0,0
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,...,0,0,0,0,2,0,0,0,0,0
5,Ceará,39,266,NaN,46,32,5,7,95,4,...,0,0,0,0,7,0,0,0,0,0
6,CRB,35,284,NaN,56,40,4,5,91,12,...,0,0,0,0,3,0,0,0,0,0
7,Criciúma,35,248,NaN,49,35,6,9,104,3,...,0,0,0,0,10,0,0,0,0,0
8,Goiás,41,262,NaN,49,41,6,8,92,6,...,0,0,0,0,5,0,0,0,0,0
9,Joinville,48,263,NaN,31,22,0,1,87,8,...,0,0,0,0,7,0,0,0,0,0
10,Londrina,39,256,NaN,40,32,6,7,117,3,...,0,0,0,0,2,0,0,0,0,0
11,Luverdense,37,259,NaN,41,29,3,3,77,7,...,0,0,0,0,0,0,0,0,0,0
12,Náutico,44,255,NaN,53,34,6,6,89,3,...,0,0,0,0,4,0,0,0,0,0
13,Oeste,40,252,NaN,32,26,1,5,58,4,...,0,0,0,0,3,0,0,0,0,0
14,Paraná,41,270,NaN,37,22,3,5,94,11,...,0,0,0,0,6,0,0,0,0,0
15,Paysandu,38,283,NaN,40,28,2,3,101,6,...,0,0,0,0,0,0,0,0,0,0
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,...,0,0,0,0,2,0,0,0,0,0
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,...,0,0,0,0,0,0,0,0,0,0
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,...,0,0,0,0,4,0,0,0,0,0
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,...,0,0,0,0,6,0,0,0,0,0

In [17]:
tabela = tabela.sort_values(by='Equipe')
tabela = tabela.reset_index(drop=True)
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,...,Impedimentos,Cruzamentos,Cortes,RoubosDeBola,2AmareloADV,FaltasADV,ImpedimentosADV,CruzamentosADV,CortesADV,RoubosDeBolaADV
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,...,0,0,0,0,0,0,0,0,0,0
1,Avaí,37,252,NaN,43,24,3,4,99,7,...,0,0,0,0,3,0,0,0,0,0
2,Bahia,34,263,NaN,53,40,3,4,98,3,...,0,0,0,0,3,0,0,0,0,0
3,Bragantino,58,264,NaN,30,23,2,3,91,6,...,0,0,0,0,3,0,0,0,0,0
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,...,0,0,0,0,2,0,0,0,0,0
5,CRB,35,284,NaN,56,40,4,5,91,12,...,0,0,0,0,3,0,0,0,0,0
6,Ceará,39,266,NaN,46,32,5,7,95,4,...,0,0,0,0,7,0,0,0,0,0
7,Criciúma,35,248,NaN,49,35,6,9,104,3,...,0,0,0,0,10,0,0,0,0,0
8,Goiás,41,262,NaN,49,41,6,8,92,6,...,0,0,0,0,5,0,0,0,0,0
9,Joinville,48,263,NaN,31,22,0,1,87,8,...,0,0,0,0,7,0,0,0,0,0
10,Londrina,39,256,NaN,40,32,6,7,117,3,...,0,0,0,0,2,0,0,0,0,0
11,Luverdense,37,259,NaN,41,29,3,3,77,7,...,0,0,0,0,0,0,0,0,0,0
12,Náutico,44,255,NaN,53,34,6,6,89,3,...,0,0,0,0,4,0,0,0,0,0
13,Oeste,40,252,NaN,32,26,1,5,58,4,...,0,0,0,0,3,0,0,0,0,0
14,Paraná,41,270,NaN,37,22,3,5,94,11,...,0,0,0,0,6,0,0,0,0,0
15,Paysandu,38,283,NaN,40,28,2,3,101,6,...,0,0,0,0,0,0,0,0,0,0
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,...,0,0,0,0,2,0,0,0,0,0
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,...,0,0,0,0,0,0,0,0,0,0
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,...,0,0,0,0,4,0,0,0,0,0
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,...,0,0,0,0,6,0,0,0,0,0

In [18]:
df9 = list_df_tables[1]
df9 = df9.sort_values(by=('Unnamed: 1_level_0', 'Equipe'))
df9 = df9.reset_index(drop=True)
df9

   Unnamed: 0_level_0 Unnamed: 1_level_0 Em casa                             \
                   Cl             Equipe      MP   V   E  D  GP  GC  GD  Pt
0                   1     Atl Goianiense      19  14   3  2  40  18  22  45
1                   2               Avaí      19  14   3  2  33  13  20  45
2                   4              Bahia      19  15   2  2  36  10  26  47
3                  19         Bragantino      19   6   4  9  16  18  -2  22
4                  11        Brasil (RS)      19  11   5  3  26  13  13  38
5                   7                CRB      19   9   2  8  28  24   4  29
6                  10              Ceará      19  10   6  3  23  13  10  36
7                   8           Criciúma      19  10   5  4  31  21  10  35
8                  13              Goiás      19   9   8  2  33  19  14  35
9                  17          Joinville      19   4  11  4  17  17   0  23
10                  6           Londrina      19   8   6  5  19  13   6  30
11                  9         Luverdense      19  11   6  2  30  17  13  39
12                  5            Náutico      19  13   2  4  34  16  18  41
13                 15              Oeste      19   4  10  5  17  21  -4  22
14                 16             Paraná      19   7   5  7  22  20   2  26
15                 14           Paysandu      19   8   8  3  26  20   6  32
16                 20     Sampaio Corrêa      19   4   7  8  19  27  -8  19
17                 18            Tupi FC      19   6   6  7  24  24   0  24
18                  3      Vasco da Gama      19  12   3  4  30  20  10  39
19                 12          Vila Nova      19   6   5  8  22  24  -2  23

         Visitante
   Pts/J        MP  V   E   D  GP  GC  GD  Pt Pts/J
0    237        19  8   7   4  20  17   3  31   163
1    237        19  5   6   8  12  21  -9  21   111
2    247        19  3   7   9  21  24  -3  16    84
3    116        19  2   4  13  14  36 -22  10    53
4    200        19  3   7   9  14  25 -11  16    84
5    153        19  8   5   6  29  30  -1  29   153
6    189        19  4   6   9  26  34  -8  18    95
7    184        19  6   3  10  18  25  -7  21   111
8    184        19  4   3  12  16  29 -13  15    79
9    121        19  5   2  12  15  25 -10  17    89
10   158        19  8   6   5  21  16   5  30   158
11   205        19  2  10   7  13  22  -9  16    84
12   216        19  5   4  10  21  27  -6  19   100
13   116        19  4   7   8  15  25 -10  19   100
14   137        19  3   6  10  17  35 -18  15    79
15   168        19  3   8   8  14  24 -10  17    89
16   100        19  1   5  13  10  30 -20   8    42
17   126        19  2   3  14  16  32 -16   9    47
18   205        19  7   5   7  24  21   3  26   137
19   121        19  9   3   7  32  28   4  30   158

In [19]:
mdf9={'nomes':['VCasa','ECasa','DCasa','GPCasa','GCCasa','PtCasa','VFora','EFora','DFora','GPFora','GCFora','PtFora'],
      'posicao':[3,4,5,6,7,9,12,13,14,15,16,18]}
tabela[mdf9['nomes']] = df9.iloc[:,mdf9['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,...,DCasa,GPCasa,GCCasa,PtCasa,VFora,EFora,DFora,GPFora,GCFora,PtFora
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,...,2,40,18,45,8,7,4,20,17,31
1,Avaí,37,252,NaN,43,24,3,4,99,7,...,2,33,13,45,5,6,8,12,21,21
2,Bahia,34,263,NaN,53,40,3,4,98,3,...,2,36,10,47,3,7,9,21,24,16
3,Bragantino,58,264,NaN,30,23,2,3,91,6,...,9,16,18,22,2,4,13,14,36,10
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,...,3,26,13,38,3,7,9,14,25,16
5,CRB,35,284,NaN,56,40,4,5,91,12,...,8,28,24,29,8,5,6,29,30,29
6,Ceará,39,266,NaN,46,32,5,7,95,4,...,3,23,13,36,4,6,9,26,34,18
7,Criciúma,35,248,NaN,49,35,6,9,104,3,...,4,31,21,35,6,3,10,18,25,21
8,Goiás,41,262,NaN,49,41,6,8,92,6,...,2,33,19,35,4,3,12,16,29,15
9,Joinville,48,263,NaN,31,22,0,1,87,8,...,4,17,17,23,5,2,12,15,25,17
10,Londrina,39,256,NaN,40,32,6,7,117,3,...,5,19,13,30,8,6,5,21,16,30
11,Luverdense,37,259,NaN,41,29,3,3,77,7,...,2,30,17,39,2,10,7,13,22,16
12,Náutico,44,255,NaN,53,34,6,6,89,3,...,4,34,16,41,5,4,10,21,27,19
13,Oeste,40,252,NaN,32,26,1,5,58,4,...,5,17,21,22,4,7,8,15,25,19
14,Paraná,41,270,NaN,37,22,3,5,94,11,...,7,22,20,26,3,6,10,17,35,15
15,Paysandu,38,283,NaN,40,28,2,3,101,6,...,3,26,20,32,3,8,8,14,24,17
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,...,8,19,27,19,1,5,13,10,30,8
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,...,7,24,24,24,2,3,14,16,32,9
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,...,4,30,20,39,7,5,7,24,21,26
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,...,8,22,24,23,9,3,7,32,28,30

In [20]:
df10 = list_df_tables[0]
df11 = df10.sort_values(by='Equipe')
df12 = df11.reset_index(drop=True)
df12

,Cl,Equipe,MP,V,E,D,GP,GC,GD,Pt,Público,Artilheiro da equipe,Goleiro,Notas
0,1,Atl Goianiense,38,22,10,6,60,35,25,76,5.767,Júnior Viçosa - 10,Kléver,Promovido
1,2,Avaí,38,19,9,10,45,34,11,66,5.919,Rômulo - 12,Renan dos Santos,Promovido
2,4,Bahia,38,18,9,11,57,34,23,63,15.660,Hernane - 11,Muriel Becker,Promovido
3,19,Bragantino,38,8,8,22,30,54,-24,32,1.001,Rafael Grampola - 7,Felipe,Rebaixado
4,11,Brasil (RS),38,14,12,12,40,38,2,54,2.755,Felipe Garcia - 13,Eduardo Martini,NaN
5,7,CRB,38,17,7,14,57,54,3,58,6.769,Zé Carlos - 9,Juliano,NaN
6,10,Ceará,38,14,12,12,49,47,2,54,11.079,Bill - 15,Éverson,NaN
7,8,Criciúma,38,16,8,14,49,46,3,56,4.059,Gustavo - 11,Luiz Silva Filho,NaN
8,13,Goiás,38,13,11,14,49,48,1,50,4.321,Léo Gamalho - 11,Renan Brito Soares,NaN
9,17,Joinville,38,9,13,16,32,42,-10,40,3.993,"Jael Ferreira, Fernando Viana - 7",Jhonatan,Rebaixado
10,6,Londrina,38,16,12,10,40,29,11,60,4.998,Germano - 9,Marcelo Rangel,NaN
11,9,Luverdense,38,13,16,9,43,39,4,55,1.506,Hugo - 9,Diogo Silva,NaN
12,5,Náutico,38,18,6,14,55,43,12,60,7.428,Rony - 11,Júlio César,NaN
13,15,Oeste,38,8,17,13,32,46,-14,41,1.580,Marcus Vinícius - 7,Felipe Alves Raymundo,NaN
14,16,Paraná,38,10,11,17,39,55,-16,41,2.249,Robson - 8,Marcos Barbosa Oliveira,NaN
15,14,Paysandu,38,11,16,11,40,44,-4,49,8.980,"Lucas, Leandro Cearense - 7",Emerson Conceição,NaN
16,20,Sampaio Corrêa,38,5,12,21,29,57,-28,27,4.931,Thiago Santos - 5,Rodrigo Ramos,Rebaixado
17,18,Tupi FC,38,8,9,21,40,56,-16,33,1.627,Hiroshi - 7,Rafael Santos,Rebaixado
18,3,Vasco da Gama,38,19,8,11,54,41,13,65,7.613,Nenê - 13,Martín Silva,Promovido
19,12,Vila Nova,38,15,8,15,54,52,2,53,5.048,Moisés - 9,Wagner Bueno,NaN

In [21]:
mdf12={'nomes':['V','E','D','Pt','Notas','Posicao'],
      'posicao':[3,4,5,9,13,0]}
tabela[mdf12['nomes']] = df12.iloc[:,mdf12['posicao']]
tabela

,Equipe,NJogadores,MediaIdade,Posse,GolsPro,Assistencias,PenalConvertidos,PenalBatidos,CAmarelo,CVermelho,...,DFora,GPFora,GCFora,PtFora,V,E,D,Pt,Notas,Posicao
0,Atl Goianiense,32,260,NaN,59,48,4,4,89,5,...,4,20,17,31,22,10,6,76,Promovido,1
1,Avaí,37,252,NaN,43,24,3,4,99,7,...,8,12,21,21,19,9,10,66,Promovido,2
2,Bahia,34,263,NaN,53,40,3,4,98,3,...,9,21,24,16,18,9,11,63,Promovido,4
3,Bragantino,58,264,NaN,30,23,2,3,91,6,...,13,14,36,10,8,8,22,32,Rebaixado,19
4,Brasil (RS),26,301,NaN,40,28,4,5,84,7,...,9,14,25,16,14,12,12,54,NaN,11
5,CRB,35,284,NaN,56,40,4,5,91,12,...,6,29,30,29,17,7,14,58,NaN,7
6,Ceará,39,266,NaN,46,32,5,7,95,4,...,9,26,34,18,14,12,12,54,NaN,10
7,Criciúma,35,248,NaN,49,35,6,9,104,3,...,10,18,25,21,16,8,14,56,NaN,8
8,Goiás,41,262,NaN,49,41,6,8,92,6,...,12,16,29,15,13,11,14,50,NaN,13
9,Joinville,48,263,NaN,31,22,0,1,87,8,...,12,15,25,17,9,13,16,40,Rebaixado,17
10,Londrina,39,256,NaN,40,32,6,7,117,3,...,5,21,16,30,16,12,10,60,NaN,6
11,Luverdense,37,259,NaN,41,29,3,3,77,7,...,7,13,22,16,13,16,9,55,NaN,9
12,Náutico,44,255,NaN,53,34,6,6,89,3,...,10,21,27,19,18,6,14,60,NaN,5
13,Oeste,40,252,NaN,32,26,1,5,58,4,...,8,15,25,19,8,17,13,41,NaN,15
14,Paraná,41,270,NaN,37,22,3,5,94,11,...,10,17,35,15,10,11,17,41,NaN,16
15,Paysandu,38,283,NaN,40,28,2,3,101,6,...,8,14,24,17,11,16,11,49,NaN,14
16,Sampaio Corrêa,58,279,NaN,29,18,6,8,83,6,...,13,10,30,8,5,12,21,27,Rebaixado,20
17,Tupi FC,36,269,NaN,40,28,0,1,85,5,...,14,16,32,9,8,9,21,33,Rebaixado,18
18,Vasco da Gama,34,288,NaN,53,34,4,5,110,3,...,7,24,21,26,19,8,11,65,Promovido,3
19,Vila Nova,43,280,NaN,54,36,6,7,98,12,...,7,32,28,30,15,8,15,53,NaN,12

In [22]:
#tabela.to_csv('dados2020.csv',index=False,sep=';')
#tabela.to_csv('dados2019.csv',index=False,sep=';')
#tabela.to_csv('dados2018.csv',index=False,sep=';')
#tabela.to_csv('dados2017.csv',index=False,sep=';')
tabela.to_csv('dados2016.csv',index=False,sep=';')

In [23]:
def FazerTabela(url):
    list_df_tables = pd.read_html(url)
    df1 = list_df_tables[2]
    tabela = pd.DataFrame()
    mdf1={'nomes':['Equipe','NJogadores','MediaIdade','Posse','GolsPro','Assistencias',
              'PenalConvertidos', 'PenalBatidos', 'CAmarelo','CVermelho'],
          'posicao':[0,1,2,3,8,9,11,12,13,14]}
    tabela[mdf1['nomes']] = df1.iloc[:,mdf1['posicao']]
    df2 = list_df_tables[3]
    mdf2={'nomes':['GolsSofridos','AssistenciasADV',
              'PenalConvertidoADV', 'PenaltisADV', 'CAmareloADV','CVermelhoADV'],
      'posicao':[8,9,11,12,13,14]}
    tabela[mdf2['nomes']] = df2.iloc[:,mdf2['posicao']]
    df3 = list_df_tables[4]
    mdf3={'nomes':['ChuteADV','Defesas','JogosSemLevarGol', 'PenaltisSalvos', 'PenaltisADVFora'],
      'posicao':[8,9,14,18,19]}
    tabela[mdf3['nomes']] = df3.iloc[:,mdf3['posicao']]
    df4 = list_df_tables[6]
    mdf4={'nomes':['Finalizacoes','FinalizacoesNoGol'],
      'posicao':[4,5]}
    tabela[mdf4['nomes']] = df4.iloc[:,mdf4['posicao']]
    df5 = list_df_tables[7]
    mdf5={'nomes':['FinalizacoesADV','FinalizacoesNoGolADV'],
      'posicao':[4,5]}
    tabela[mdf5['nomes']] = df5.iloc[:,mdf5['posicao']]
    df6 = list_df_table[10]
    mdf6={'nomes':['2Amarelo','Faltas','Impedimentos','Cruzamentos','Cortes','RoubosDeBola'],
      'posicao':[5,6,8,9,10,11]}
    tabela[mdf6['nomes']] = df6.iloc[:,mdf6['posicao']]
    df7 = list_df_tables[11]
    mdf7={'nomes':['2AmareloADV','FaltasADV','ImpedimentosADV','CruzamentosADV','CortesADV','RoubosDeBolaADV'],
      'posicao':[5,6,8,9,10,11]}
    tabela[mdf7['nomes']] = df7.iloc[:,mdf7['posicao']]
    tabela = tabela.sort_values(by='Equipe')
    tabela = tabela.reset_index(drop=True)
    df9 = list_df_tables[1]
    df9 = df9.sort_values(by=('Unnamed: 1_level_0', 'Equipe'))
    df9 = df9.reset_index(drop=True)
    mdf9={'nomes':['VCasa','ECasa','DCasa','GPCasa','GCCasa','PtCasa','VFora','EFora','DFora','GPFora','GCFora','PtFora'],
      'posicao':[3,4,5,6,7,9,12,13,14,15,16,18]}
    tabela[mdf9['nomes']] = df9.iloc[:,mdf9['posicao']]
    df10 = list_df_tables[0]
    df11 = df10.sort_values(by='Equipe')
    df12 = df11.reset_index(drop=True)
    mdf12={'nomes':['V','E','D','Pt','Notas','Posicao'],
      'posicao':[3,4,5,9,13,0]}
    tabela[mdf12['nomes']] = df12.iloc[:,mdf12['posicao']]
    return tabela